<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome To DemoApp Template</h1> <br />
    {% if students %}
      {% for student in students  %}
        <h3>{{ student.id }}</h3>
        <h3>{{ student.name }}</h3>
        <h3>{{ student.stuClass }}</h3>
        <h3>{{ student.stuEmail }}</h3>
      {% endfor %}
    {% endif %}
    {% if form_data %}
      <h1>{{ form_data.email }}</h1>
      <h1>{{ form_data.password }}</h1>
    {% endif %}
    <form action="" method="post">
      {% csrf_token %}
      {{ contact.email }} <br>
      {{ contact.password }} <br>
      <button type="submit">Send</button>
    </form>
    <!-- <img src="{% static 'images/demo.jpg' %}" alt="Static image" /> -->
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
