<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome To DemoApp Template</h1> <br />
    {% for student in students  %}
      <h3>{{ student.id }}</h3>
      <h3>{{ student.name }}</h3>
      <h3>{{ student.stuClass }}</h3>
      <h3>{{ student.stuEmail }}</h3>
    {% endfor %}
    <!-- <img src="{% static 'images/demo.jpg' %}" alt="Static image" /> -->
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
